.Team
    body()

    &__image
        display inline-block
        position relative
        background center center no-repeat
        overflow hidden
        box-shadow none
        vertical-align top
        background-size cover
        width 100%
        border-radius 8px
        background-color #C1CAC7
        &:after
            content ''
            display block
            padding-bottom 120%
    a
        text-decoration none
        color inherit

    &__title
        margin-top gap
        @media $screen-phone
            max-width 100%
        
    &__subtitle
        color hint
        
    &__items
        display flex
        flex-wrap wrap
        margin-left -9px
        margin-right -9px

    &__item
        width calc(33.3% - 18px)
        @media screen and (max-width: 991px)
            width 100%
            padding 32px 9px 9px 9px
        padding gap*2 gap gap*3 gap
        
        .Thumb
            width 100%
            border-radius 20px
            background-color #a5a5a526