.Data
    font-size 1vw
    height 3.3vw
    margin 4vw 30px 0 30px
    position relative
    font-family 'Ticketing'
    border-bottom 1px solid blue
    vertical-align bottom

    @media $screen-phone
        margin 100px 20px 30px 20px
    &__left, &__mid, &__right
        position absolute
    &__jp, &__ch
        line-height 1vw
        color red
        display inline
        font-size 3vw
        font-weight bold
        font-family Arial
        text-shadow 0 0 10px #FF2040, 0 0 25px #FF1030, 0 0 40px #FF0020, 0 0 60px rgba(255, 32, 64, 0.2)
        animation text-glow 4s ease-in-out infinite alternate
    &__jp
        letter-spacing -.6vw
        margin-right 20px
        &_Hide
            opacity 0
    &__text
        display inline-block
        color blue
    &__right
        right 0
    &__mid
        right 20vw
        color blue



