


.Pokras
    margin-top -2vw
    @media $screen-phone
        display none
    &__item
        width 35vw
        height 35vw
        background-repeat no-repeat
        &_Nothing
            height 41vw
        &_Nosense
            height 60vw
            width 45vw
            margin-top 11vw
        &_Scarf
            height 60vw
            width 49vw
            margin-top -16vw
        &_Kimono
            width 37vw
            height 43vw 
    &__row
        display flex


.Cast
    text-transform uppercase
    font-size 1vw
    line-height 1.5vw
    &__title
        color hint
    &__name
        
        margin-top .09vw
    &__item
        & + &
            margin-top 1vw
            

.WorkCard
    font-size 1.1vw
    line-height 1.5vw
    margin-top 5vw
    margin-bottom 5vw

    .Cast
        @media $screen-phone
            border-top 2px solid #f00
            padding-top 32px
            font-size 13px !important
            line-height 19px !important
            margin-bottom 32px !important

    &__meta
        @media $screen-phone
            .Cast
                margin-right 32px
                border-top none
                padding-top 0
            .Workcard__type, .Cast
                display inline-block
                vertical-align top
                font-size 13px !important
                line-height 19px !important
                margin-bottom 32px !important
                
                    

    &__item
        position relative
        &_Text

            padding 15vw 18vw 13vw 18vw
            @media $screen-phone
                padding 15vw 0 13vw 0
            .WorkCard__text
                margin-top 4vw
    
    &__dir
        font-size 1.3vw
        line-height 1.8vw
        letter-spacing -0.03vw
        margin-bottom .9vw
        font-family 'ocr-a-std'
        @media $screen-phone
            font-size 15px !important
            line-height 22px !important
            margin-bottom 2.9vw !important

    a
        border-bottom none
        color #FF0000

        &:hover
            border-bottom 1px solid #FF0000
        
    &__p
        & + &
            margin-top 10px

    &__items
        display flex
        @media $screen-phone
            display block

    &__left, &__right
        font-family 'OCR'
    
    &__middle
        font-family 'univers-next-pro'
        // font-family 'ARKDiatypeMono'
        font-weight 500
        font-size 1.25vw
        line-height 1.6vw
        letter-spacing -0.06vw
        text-transform none !important

    &__left
        width 16vw
        padding-right 6.5vw
        @media $screen-phone
            width initial
            padding 0

    &__header
        display flex
        @media $screen-phone
            display initial

    &__link
        margin-top 3vw


    &__text, &__link
        font-size 1.4vw
        line-height 1.8vw
        letter-spacing -.04vw
        @media $screen-phone
            font-size 15px !important
            line-height 22px !important
            margin-bottom 32px !important

    &__text
        
        
        & + &
            margin-top 3vw
        @media $screen-phone
            margin-bottom .5vw
        &_size
            &_M
                padding 8vw 0 0 0
                max-width 65%
                @media $screen-phone
                    max-width initial
            &_L
                
                font-size 1.3vw !important
                line-height 1.8vw !important
                letter-spacing -0.04vw
                @media $screen-phone
                    font-size 15px !important
                    line-height 22px !important


    &__title
        font-size 7vw
        line-height 7.2vw
        letter-spacing -.5vw
        font-weight 275
        font-family 'ocr-a-std'
        text-transform uppercase
        margin-bottom 5vw
        position relative

        @media $screen-phone
            font-size 68px
            line-height 66px
            margin-bottom 7vw

    

    &__type
        text-transform uppercase
        color hint
        margin-top 1vw
        &-line
            & + &
                margin-top .09vw

    &__link
        color red
        z-index 999
        position relative
        
    &__middle
        width 48vw
        @media $screen-phone
            width initial

    &__right
        width 16vw
        position absolute
        right 2vw

        @media $screen-phone
            position relative   
            width initial
            right 0
    

.Screen
    &_pk1
        margin-top -13vw
        @media $screen-phone
            margin-top 0
    & + &
        margin-top .5vw
    &__wrap
        position relative
        overflow hidden
        border 10px solid white
        border-radius 32px

        @media $screen-phone
            border 4px solid white
            border-radius 8px
        
        .Thumb
            z-index 100
    &__image
        position absolute
        top 0
        z-index 50

    .Thumb
        width 100%
    &__container
        background none
        padding 0
        @media $screen-phone
            padding 0
        box-sizing content-box
        margin 0.3vw

        & + &
            margin-top 8px

        .Thumb
            &:after
                padding-bottom 78.5% !important

        &_Object
            .Thumb
                background-size 60%
                background-position center center

        &_NoShadow
            .Thumb
                box-shadow none !important

        &_Full
            padding 0 !important
            .Thumb
                box-shadow none !important
                border-radius 0 !important

.Screen + .Work
    margin-top 10vw

.Work
    & + &
        margin-top 2px !important
    a
        border-bottom 1px solid #d9d9d9
        color color-black
        &:hover
            border-bottom 1px solid #999

    &__p
        & + &
            margin-top 10px

    /*& + &
        margin-top 280px*/

    &__item
        @media $screen-phone
            &_screen.work__item_mobile
                .Thumb
                    &:after
                        padding-bottom 150% !important
        &_screen
            .Thumb
                &:after
                    padding-bottom 86% !important
        &_screen2
            .Thumb
                &:after
                    padding-bottom 200% !important

        &_cut
            height 29vw
            @media $screen-phone
                height 69vw

    &__items
        display flex
        @media $screen-phone
            display block

    &__video
        border 10px solid #fff
        border-radius 32px
        background none
        padding 0
        width 100%
        box-sizing border-box
        margin 0
        @media $screen-phone
            padding 0
            border 4px solid #fff
            border-radius 8px

        &_Full
            padding 0 !important
            .Thumb
                box-shadow none !important
                border-radius 0 !important

    &__hero
        background none
        border 10px solid #fff
        border-radius 32px
        padding 0

        @media $screen-phone
            padding 0
            border-radius 8px
            border 4px solid #fff
        box-sizing content-box
        margin 0

        & + &
            margin-top 2px

        .Thumb
            &:after
                padding-bottom 78.5% !important

        &_Object
            .Thumb
                background-size 60%
                background-position center center

        &_NoShadow
            .Thumb
                box-shadow none !important

        &_Full
            padding 0 !important
            .Thumb
                box-shadow none !important
                border-radius 0 !important

    &__item
        background none
        padding 0
        box-sizing content-box
        width 50%
        margin 0.3vw
        position relative

        @media $screen-phone
            width initial !important
            padding 20px !important

        &_Fit
            padding 0 !important

        &_Object
            .Thumb
                background-size 50%
                background-position center center

        &_NoShadow
            .Thumb
                box-shadow none !important

        &_Full
            background-size 50%
            padding 0 !important
            .Thumb
                box-shadow none !important
                border-radius 0 !important
    
    &__left
        width calc((((100vw - 320px)/ 12) * 6) + 100px)
        float left

    &__header
        display flex

    &__type
        color #999
        margin-top 16px

    &__title
        body()
        display flex
        margin 0 4px gap 4px
        

    &__right
        width calc((((100vw - 320px)/ 12) * 6) + 100px)
        margin-left 20px
        float left
    
    
    &__image
        &_align_center .thumb
            background-position center center

    .Thumb
        width 100%
        

        /*box-shadow 0 12px 25px -12px rgba(0,0,0,0.20)*/
        /*box-shadow 0 14px 26px -14px rgba(0,0,0,0.1)*/
        /*box-shadow 0 11px 8px -14px rgba(0,0,0,0.6)*/
        box-shadow 0 3px 7px -5px rgba(0,0,0,0.6)
    