.Tech
    title()
    microma()
    text-align center
    &__item
        margin-top gap*2
        text-align center
        width 19%
        display inline-block
        @media $screen-phone
            width 100%
            margin-bottom gap*8
    &__title
        color red
    &__subtitle
        margin gap 0
    &__image
        margin gap*2 auto
        size = 13vw
        height size
        width size
        background-size size
        background-position center center
        background-repeat no-repeat
        @media $screen-phone
            size = 142px
            height size
            width size
            background-size size
