.Main
    position relative
    padding-top 11vw
    overflow hidden
    @media $screen-phone
        .Logo
            margin-bottom 60px
    &__menu
        position fixed
        z-index 9999
        backdrop-filter blur(10px)
        left 30px
        top 30px
        @media $screen-phone
            display none