.Video
    position relative
    width 70vw
    margin 0 auto
    caps()
    color white
    &__title
        position absolute
        top 24px
        left 24px
    &__duration
        position absolute
        bottom 24px
        left 24px

    &__action
        z-index 100
        cursor pointer
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    @media $screen-phone
        width 100%
    &__video
        border-radius 4px
        width 100%

    &_controls
        &_hide
            .Video
                &__action, &__duration
                    display none
                    visibility hidden
        