.Header
    margin 0
    color grey
    margin-bottom 1.5vw
    position relative
    &__line
        height .07vw
        width 100%
        background url('/blocks/Header/i/line.svg') center center / 15vw repeat
    &__glyph
        position absolute
        font-family 'Arial', sans-serif
        right 0
        bottom 0
        font-weight bold
    &__title
        hintTight()
        margin-bottom .2vw
        
    