.Link {
	color: #000;
    text-decoration: none;

    &_theme_inherits {
        color: inherit !important;
    }

    &_White {
        color: white;
    }

	&_type_white {
    	color: white;

        &:hover {
            text-decoration: none;
            color: white;
        }
	}
}