.Ark
    &__glyph
        @media $screen-phone
            size = 54px
            height size
            background-size size
            width size
        size = 4vw
        height size
        background-size size
        width size
        background-position center center
        background-repeat no-repeat
        background-image url('/blocks/Ark/i/ark.svg')
        opacity .5
        &:hover
            cursor()
            opacity 1
            
    