.Input



    position relative
    padding 0

    @media $screen-phone
        height 64px

    height 5vw
    line-height @height


    &:before
        content ''
        display block
        position absolute
        top 2px
        bottom 2px
        left 2px
        right 2px

    &__label
        position absolute
        color black
        z-index 100
        caps()
        top gap
        left gap

    &__input
        body()
        univers()
        display block
        position absolute
        top 0
        bottom 0
        left 0
        width 100%
        padding 24px 8px 8px 8px
        border none
        background white
        border-radius 0
        box-sizing border-box
        color inherit
        &:focus
            outline none

    &__clear
        position absolute
        top 0
        bottom 0
        right 0
        transition background .15s

    &_empty &__clear
        display none

    &_disabled
        box-shadow none

        &
        .input__input
            cursor default @css{!important}

        &:before
        .input__clear
            display none