

.Head
    position fixed
    right 0
    left 0
    top 0
    z-index 100

    &__item
        &_Logomobile
            display none
            @media $screen-phone
                display block
                position absolute
                top 20px
                left 20px

    @media $screen-phone
        display block

    &__menu
        @media $screen-phone
            display none
        position absolute
        top 6vw
        right 30px

    &_Main
        .CaseData
            display none
        .Head
            &__menu
                display none
                right initial
                left 30px
                top 30px

    &__action
        position absolute
        z-index 9999
        right 30px
        top 1.3vw
        @media $screen-phone
            top 24px
            right 20px
            .Action
                padding 4vw 3.6vw
                font-size 3.2vw

.CaseData
    font-size 1vw
    margin-right 19vw
    height 3.3vw
    margin-left 30px
    @media $screen-phone
        margin-left 20px
        margin-right 20px
    position absolute
    top 1.3vw
    right 0
    left 0
    font-family 'Ticketing'
    border-bottom 1px solid blue
    vertical-align bottom
    z-index 88

    &__item
        &_Logo
            @media $screen-phone
                display none
        
        &_two
            left 12vw
            @media $screen-phone
                left 0
        
    &__mid, &__item_two, &__right
        top .5vw
    &__item, &__mid
        position absolute
    &__jp, &__ch
        line-height 1vw
        color red
        display inline
        font-size 2.6vw
        font-weight bold
        font-family Arial
        text-shadow 0 0 12px #FF2040, 0 0 24px rgba(255, 32, 64, 0.8)
        animation text-glow-light 6s ease-in-out infinite alternate
    &__jp
        letter-spacing -.6vw
        margin-right 20px
        &_Hide
            opacity 0
    &__text
        display inline-block
        color blue
    &__right
        position absolute
        right 0
    &__mid
        right 20vw
        color blue

