.Overlay
    position absolute
    top 0
    right 0
    bottom 0
    z-index 99999
    left 0
    background black
    display none
    .Video
        width 100%
        top 50%
        left 50%
        transform translate(-50%, -50%)
    .Button
        position absolute
        top gap*3
        right gap*3