.Showcase
    gap = 16px
    position relative
    &_desktop
        display block
        /*@media $screen-phone
            display none*/
    /*&_mobile
        display none
        @media $screen-phone
            display block*/
    &__row
        display flex
        flex-wrap wrap
        flex-direction row
        gap gap
        @media $screen-phone
            display block
    &__items
        display flex
        flex-wrap wrap
        flex-direction row
        @media $screen-phone
            display block
            flex-wrap none
            flex-direction none
    &__item
        @media $screen-phone
            display block
            & + &
                margin-top 8px
        &_col
            width 100%
            &_6
                flex 0 0 calc(49.3% - 16px)
                max-width 0 0 calc(33.3% - 16px)
                height calc(42vw + 16px)
                margin-right gap
                margin-bottom gap

                @media $screen-phone
                    max-width 100%
                    flex none
                    height 490px
                    margin-right 0
            &_5
                flex 0 0 calc(41.66666667% - 16px)
                max-width 0 0 calc(41.66666667% - 16px)
                height calc(55vw + 16px)
                margin-right gap
                @media $screen-phone
                    max-width 100%
                    flex none
                    height 490px
                    margin-right 0
            &_7
                flex 0 0 58.33333333%
                max-width 58.33333333%
                @media $screen-phone
                    max-width 100%
                    flex none
                    height auto
            &_12
                flex 0 0 100%
                max-width 100%
                height calc(55vw / 2)
                @media $screen-phone
                    max-width 100%
                    flex none
                    height 490px