@font-face
    font-family 'Ticketing'
    src url('../../assets/font/ticketing/ticketing.woff2') format('woff2'), 
    url('../../assets/font/ticketing/ticketing.woff') format('woff')
    font-weight normal
    font-style normal


@font-face
    font-family 'ARKDiatypeMono'
    src url('../../assets/font/ARKDiatype/ARKDiatypeMono-Light.woff2') format('woff2'), 
    url('../../assets/font/ARKDiatype/ARKDiatypeMono-Light.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'JetBrains'
    src url('../../assets/font/jetbrains/JetBrainsMono-Regular.woff2') format('woff2'), 
    url('../../assets/font/jetbrains/JetBrainsMono-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'ASM'
    src url('../../assets/font/asm/ASM-Regular.woff2') format('woff2'), 
    url('../../assets/font/asm/ASM-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Plaex'
    src url('../../assets/font/plaex/ibmplaexmono-regular-webfont.woff2') format('woff2'), 
    url('../../assets/font/plaex/ibmplaexmono-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'OCR'
    src url('../../assets/font/asm/OCR.woff2') format('woff2'), 
    url('../../assets/font/asm/OCR.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
  font-family: 'NB'
  src: url('../../assets/font/nb2/nb.woff') format('woff2'),
         url('../../assets/font/nb2/nb.woff2') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@import url('https://db.onlinewebfonts.com/c/781bc78d102a85d51a4e41734c2fe072?family=F');

@import url('https://fonts.cdnfonts.com/css/ocr-a-bt');

background = #000
foreground = #fff
blue = #0000FF
blue-dark = #0F2290
red = #FF4000
grey = #4B4B4B

gap = 8px
gapx = 4vw

topline()
    font-size 5vw
    line-height 4.4vw
    microgramma()
    text-transform uppercase
    max-width 60%
    @media $screen-phone
        font-size 34px
        line-height 33px
        max-width 100%

superheader()
    font-size 3.5vw
    line-height 3.8vw
    letter-spacing -.2vw
    @media $screen-phone
        font-size 34px
        line-height 28px


header()
    font-size 3vw
    line-height 2.9vw
    @media $screen-phone
        font-size 34px
        line-height 32px

supertitle()
    font-size 44px
    line-height 48px
    letter-spacing -.2vw
    @media $screen-phone
        font-size 34px
        line-height 28px

title()
    font-size 1vw
    line-height 1vw
    @media $screen-phone
        font-size 12px
        line-height 18px
    

superbody()
    font-size 2vw
    line-height 2.4vw
    @media $screen-phone
        font-size 19px
        line-height 25px

body()
    font-size 1.14vw
    line-height 1.7vw
    @media $screen-phone
        font-size 19px
        line-height 25px

caps()
    font-size .8vw
    line-height 1.3vw
    text-transform uppercase
    microma()
    @media $screen-phone
        font-size 11px
        line-height 16px

founders()
    font-family 'FoundersGrotesk'

univers()
    font-family 'Univers Next Pro'

microma()
    font-family 'Microgramma'

microgramma()
    font-family 'Microgramma D'

gridX()
    padding 0 gapx
    @media $screen-phone
        padding 0 20px

uppercase()
    text-transform uppercase

buttonBlur()
    backdrop-filter blur(8px)
    background alpha(black, 0.3)
    color white

$screen-phone = 'screen and (max-width: 767px)'

@font-face
  font-family: 'FoundersGrotesk'
  src: url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.eot')
  src: url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.woff2') format('woff2'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.woff') format('woff'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.ttf') format('truetype'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular.svg') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Microgramma'
  src: url('../../assets/font/Microgramma/MicrogrammaNormal.eot')
  src: url('../../assets/font/Microgramma/MicrogrammaNormal.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.woff2') format('woff2'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.woff') format('woff'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.ttf') format('truetype'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.svg#MicrogrammaNormal') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Microgramma D'
  src: url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.eot')
  src: url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.woff2') format('woff2'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.woff') format('woff'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.ttf') format('truetype'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.svg#MicrogrammaD-BoldExte') format('svg')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Univers-Light-Normal'
  src: url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.eot')
  src: url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.woff2') format('woff2'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.woff') format('woff'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.ttf') format('truetype'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.svg#Univers-Light-Normal') format('svg')
  font-weight: 300
  font-style: normal
  font-display: swap