@font-face
    font-family 'Ticketing'
    src url('../../assets/font/ticketing/ticketing.woff2') format('woff2'), 
    url('../../assets/font/ticketing/ticketing.woff') format('woff')
    font-weight normal
    font-style normal

background = #000
foreground = #fff
blue = #0000FF
blue-dark = #0F2290
red = #FF4000
grey = #4B4B4B

gap = 8px
gapx = 4vw

cursor()
    cursor url('/assets/cursor.svg'), auto    

topline()
    font-size 6vw
    line-height 5.2vw
    @media $screen-phone
        font-size 47px
        line-height 44px
        max-width 100%

superheader()
    font-size 3vw
    line-height 3vw
    letter-spacing -.02vw
    @media $screen-phone
        font-size 23px
        line-height 24px


header()
    font-size 1.8vw
    line-height 1.7vw
    @media $screen-phone
        font-size 18px
        line-height 18px

body()
    font-size 1.3vw
    line-height 1.5vw
    @media $screen-phone
        font-size 17px
        line-height 23px

hint()
    font-size 1.2vw
    line-height 1.5vw
    @media $screen-phone
        font-size 16px
        line-height 19px
        margin-top 4px

hintTight()
    font-size 1.2vw
    line-height .9vw
    @media $screen-phone
        font-size 16px
        line-height 16px

caption()
    font-size 1vw
    line-height 1.1vw
    text-transform uppercase
    @media $screen-phone
        font-size 14px
        line-height 16px

label()
    font-size .8vw
    line-height 1.3vw
    text-transform uppercase
    @media $screen-phone
        font-size 11px
        line-height 16px

founders()
    font-family 'FoundersGrotesk'

univers()
    font-family 'Univers Next Pro'

microma()
    font-family 'Microgramma'

microgramma()
    font-family 'Microgramma D'

gridX()
    padding 0 gapx
    @media $screen-phone
        padding 0 20px

uppercase()
    text-transform uppercase

buttonBlur()
    backdrop-filter blur(8px)
    background alpha(black, 0.3)
    color white

$screen-phone = 'screen and (max-width: 767px)'

table
    border-collapse collapse
    border-spacing 0
    border none

td
    padding 0
    vertical-align baseline

html
    background transparent

.no-scroll
    overflow hidden !important
    height 100%
    width 100%

*::selection
  background blue

*::-moz-selection
  background blue

*::-webkit-selection
  background blue
