.Roles
    title()
    microma()
    display table
    width 100%
    border-spacing 0 2px
    
    &__line, .Link
        @media screen and (max-width: 991px)
            height 50px
        display table-row
        background red
        color white
        height 6vh
        
    &__item
        display table-cell
        padding-left 18px
        vertical-align middle
        @media screen and (max-width: 991px)
            margin 9px 0
            display block

        &_Gray
            opacity 50%