.Nav
    position relative
    width 50vw
    display flex
    @media $screen-phone
        width 100%
        .Nav
            display table
            &__item
                display inline-block
                width calc(49.4%)
    &_Col
        &_max
            width 100%
            flex-wrap wrap
            gap 8px
            .Nav
                &__item
                    flex-grow 1
                    width 24%
                    @media $screen-phone
                        width 47%
                    margin-left 0 !important
                    & + &
                        margin-left 0 !important
    &__item
        width 100%
        & + &
            margin-left gap