.Keyvalue
    margin-top gap * 2

.Keyvalue
    display flex
    align-items center
    border-top 1px solid divider
    border-bottom 1px solid divider
    padding gap * 2 0
    @media $screen-phone
        display block
    &__item, &__title
        display inline-block
        @media $screen-phone
            display block
        vertical align top
        margin-right 3vw
    &__title
        title()
        microma()
    &__item
        @media $screen-phone
            margin gap*2 0
        &-text
            title()
            microgramma()
        &-title
            title()
            microma()
            color hint


