.Solution
    margin-top 4vw
    
    transition opacity 0.8s ease, filter 0.8s ease
    &_loaded
        opacity 1
        filter blur(0px)
    &__description
        width 50%
        margin-top 2vw
        @media $screen-phone
            width 100%
            margin-top 0
        
    &__solutions
        display flex
        gap 0vw
        align-items stretch
        flex-wrap wrap
        @media $screen-phone
            display block
    &__plus
        position relative
        width 25%
        @media $screen-phone
            width 100%
    &__icon
        size = 3.6vw
        height size
        width size
        background url('/assets/i/Plus.svg') center center / size no-repeat
        margin 0 auto
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    &__item
        width 25%
        @media $screen-phone
            width 100%