.Footer
    position relative
    background blue
    padding 0 30px
    margin-top 10vw
    margin-bottom 0
    &_fix
        position absolute
        bottom 0
    @media $screen-phone
        line-height 20px

    &__copy
        margin gap*2 0 gap*4 0
        color hint
    .Link
        margin-right gap*2
        color black
        &:hover
            color hint

    &__item
        display inline-block
        
        