.Footer
    position relative
    background blue
    color white
    padding 4vw 30px 2vw 30px
    margin-top 10vw
    margin-bottom 0

    &__l
        display inline
        @media $screen-phone
            display block

    @media $screen-phone
        padding 40px 20px

    &__ark
        position absolute
        right 0
        top 0
        
            
    &__copy
        border-top 1px solid white
        margin-top 2vw
        padding-top 1vw
        position relative
    &__level
        position relative
        @media $screen-phone
            height 16px
            font-size 13px
        & + &
            margin-top 4vw
    &__items
        @media $screen-phone
            display initial
        display flex
        margin-top 8vw
        gap 0vw
        > *
            flex 1
        .Footer
            &__text
                topline()
                
            &__action
                background white
                color blue
                display flex
                align-items center
                justify-content center
                text-align center
                font-size 1.5vw
                transition all 0.2s ease
            
                &:hover
                    background rgba(255, 255, 255, 0.9)
                    transform scale(1.01)
                    backdrop-filter blur(12px)
                
    &__left, &__mid, &__right
        position absolute
    &__left
        left 0
        width 50%
        @media $screen-phone
            width 60%
    &__jp, &__ch
        @media $screen-phone
            font-size 20px
        line-height 1vw
        color red
        display inline
        font-size 3vw
        font-weight bold
        font-family Arial
        text-shadow 0 0 12px #FF2040, 0 0 24px rgba(255, 32, 64, 0.8)
        animation text-glow-light 6s ease-in-out infinite alternate
    &__jp
        letter-spacing -.6vw
        margin-right 20px
    &__ch
        position absolute
        right 0
        &_Hide
            opacity 0
    &__text
        display inline-block
        color white
        &_Copyright
            margin-top 7px
            font-size 15px
        &_Motto
            @media $screen-phone
                margin-top 36px
                margin-bottom 18px
        &_R
            position absolute
            right 0
    &__right
        right 0
        width 50%
    &__mid
        @media $screen-phone
            display none
        color blue
        