.Textarea
    position relative
    padding 0

    &:before
        content ''
        display block
        position absolute
        top 2px
        bottom 2px
        left 2px
        right 2px

    &__label
        position absolute
        color black
        z-index 100
        caps()
        top gap
        left gap

    &__textarea
        body()
        univers()
        position relative
        display block
        width 100%
        padding 32px 8px 8px 8px
        border none
        background white
        border-radius 0
        box-sizing border-box
        color inherit
        &:focus
            outline none

    &__clear
        position absolute
        top 0
        bottom 0
        right 0
        transition background .15s

    &_empty &__clear
        display none

    &_disabled
        box-shadow none

        &
        .input__input
            cursor default @css{!important}

        &:before
        .input__clear
            display none