.Card
    background blue
    padding 1.4vw 1vw
    transition all 0.2s ease
    opacity 0
    filter blur(5px)
    transition opacity 0.8s ease, filter 0.8s ease, background 0.2s ease
    &:hover
        background white
        transition all 0.2s ease
        .Card
            &__title, &__text
                color black
    &__title
        font-size 1.8vw
        &::before
            font-size 1.3vw
            content ' /// '
            display inline
            text-transform none
            color blue-dark
    &__text
        &::before
            content ' [i] '
            display inline
            text-transform none
            color blue-dark
    &_loaded
        opacity 1
        filter blur(0px)