.Card
    background blue
    padding 1vw
    &:hover
        background white
        cursor pointer
        .Card
            &__title, &__text
                color black
    &__title
        &::before
            content ' /// '
            display inline
            text-transform none
            color blue-dark
    &__text
        &::before
            content ' [i] '
            display inline
            text-transform none
            color blue-dark