.Menu
    position absolute
    top 30px
    left 30px
    font-family 'Ticketing'
    font-size 1vw
    

    &__digit, &__text
        display inline-block
        

    &__digit
        color blue
    
    &__text
        
        &:hover
            color red
    &_Type
        &_Touch
            position fixed
            z-index 1000
            bottom 0
            left 0
            right 0
            width 96vw
            background none
            text-align center
            left 50%
            transform translate(-50%, 120%)
            border-radius gap
            transition transform .4s
        
            .Menu
                
                &__item
                    display block
                    margin-top gap
                    
                    &:last-child
                        margin-bottom gap
                    .Button
                        padding 32px 16px 32px 16px
                        background white
                        color black
                        &__text
                            title()
                            microma()
                        
    
    &__item
        display block
        &_State
            &_Active
                .Button
                    background black
        & + &
            margin-top gap